# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore runs and outputs

thermal_detection_output.mp4
thermal_predictions.csv

# Ignore large datasets (optional)
datasets/
dataset/
test_images/
